mysql_config.php
/vendor/
templates_c
templates/css
node_modules
debug.txt
php.ini
export/*
!export/rechnung/
export/rechnung/*
!export/rechnung/print/
export/rechnung/print/*
!export/rechnung/print/.gitkeep
!export/angebot/
export/angebot/*
!export/angebot/print/
export/angebot/print/*
!export/angebot/print/.gitkeep
tests/logs/